USE [master]
GO
/****** Object:  Database [NumberSystemsDB]    Script Date: 14.04.2026 18:02:21 ******/
CREATE DATABASE [NumberSystemsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NumberSystemsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NumberSystemsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NumberSystemsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NumberSystemsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NumberSystemsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NumberSystemsDB]
GO
/****** Object:  Table [dbo].[ConversionHistory]    Script Date: 14.04.2026 18:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversionHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InputNumber] [nvarchar](255) NOT NULL,
	[InputBase] [int] NOT NULL,
	[OutputNumber] [nvarchar](255) NOT NULL,
	[OutputBase] [int] NOT NULL,
	[ConversionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
